.lampada-container {
    position: relative;
    display: inline-block;
}

.lampada {
    width: 150px; /* Ajuste o tamanho da lâmpada conforme necessário */
    height: auto;
    display: block;
}

.light-pulse {
    position: absolute;
    width: 180px; /* Ajuste o tamanho da luz pulsante conforme necessário */
    height: 180px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(248, 248, 179, 0.137) 0%, rgba(240, 240, 227, 0.068) 80%);
    animation: pulse 5s ease-in-out infinite; /* Animação para o efeito de pulsação */
    top: -20px; /* Ajuste a posição da luz pulsante conforme necessário */
    left: -25px; /* Ajuste a posição da luz pulsante conforme necessário */
    z-index: -1; /* Coloca a luz pulsante atrás da lâmpada */
}

@keyframes pulse {
    0% {
        transform: scale(0.7);
        opacity: 1;
    }
    50% {
        transform: scale(0.9);
        opacity: .8;
    }
    100% {
        transform: scale(0.6);
        opacity: .5;
    }
}
