
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif; 
}

:root{
    --cor-laranja: #e57200;
    --cor-branca: #fff;
    --cor-cinza: #28282d;
}

html{
    height: 100vh;
    font-size: 14px;
}

body{
    /* background-color: #28282d; */
    background-color: var(--cor-laranja); /*sayury*/
    height: 100%;
    transition: background-color 0.3s ease;
}

.container{
    height: 100%;
    max-width: 550px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    color: var(--cor-branca);
}

a{
    text-decoration: none;
    color: var(--cor-branca);
}

/* ESTILO DO HEADER */

header{
    text-align: center;
    margin-bottom: 17px;
    margin-top: 30px;
}
header img{
    max-width: 150px;
    margin-bottom: 11px;
    border-radius: 50%;  
    cursor: pointer;
}

header h1{
    font-size: 2em;
    margin-bottom: 10px;
    color: #5e5e5e;
    /* font-weight: 300; */
    font-weight: 500; /*Sayury*/
}

.font_pequena{
    margin-top: 5px;
    font-size: 10px;
}

/* ESTILO DOS BOTÕES */

section.botoes-links{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

a.link button{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    border-radius: 30px;
    font-size: 1.2em;
    cursor: pointer;
    /* color: #fff; */
    color: var(--cor-cinza); /*Sayury*/
    transition: .2s;
    border: 2px solid var(--cor-cinza); /*Sayury*/
}
.fundo_botao{
    background-color: var(--cor-branca);  /*Sayury*/
}

.degrade{
    background:#e57200;
}

a.link i{
    font-size: 1.5em;
    color: var(--cor-laranja); /*Sayury*/

}

a.link button:hover, footer a.btn-footer:hover{
    transform: scale(1.05);
}

/* ESTILO DO FOOTER */

footer{
    text-align: center;
    margin: 30px;
}

footer a.btn-footer{
    width: 60px;
    height: 60px;
    display: inline-block;
    font-size: 2em;
    line-height: 60px;
    border-radius: 50%;
    margin: 0 10px;
    transition: .2s;
    /* border: 1px solid var(--cor-cinza); */
    border: 2px solid var(--cor-cinza);
}

.modo-noturno {
    background-color: var(--cor-cinza);
    color: var(--cor-branca);
}

.modo-noturno a.link i {
    color: white; /* Altera a cor do ícone no modo noturno */
}

.modo-noturno  .corLetra{
    color: var(--cor-branca);
}